body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
}

.orange-text {
  color: #eb741d;
}

.table-top {
    margin: 0;
    border: none;
    background-color: black;
    color: white;
}

.big-titles {
  text-align: center;
  font-size: 2.5rem;
}

.med-titles {
    text-align: center;
    font-weight: 400;
}

.red-text {
  color: #eb062c;
}

.font-medium {
    font-size: 1.1em;
    font-size: 500;

}
.pagination-container {
    margin-top: 20px;
    text-align: center;
}

.pagination-container .pagination {
    display: block;
    padding: 8px;
}

.pagination-container .pagination .active {
    color: #eb741d;
}

.pagination-container .pagination a {
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.w3-button {
    padding: 9px 17px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    margin-top: 1em;
  }
  
  .w3-green {
    color: #fff;
    background-color: #4CAF50;
  }
  
  .w3-green:hover {
    background-color: #45a049;
  }
  
  .w3-green:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
  }
  
  .w3-green:active {
    background-color: #3d8e41;
  }
  